Mantenimiento_Productos/Mantenimiento_Productos/Service References/mierda/pruebaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:pruebawsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:pruebawsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:pruebawsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="foObtenerProductosRequest" />
  <wsdl:message name="foObtenerProductosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="foObtenerTiposProductoRequest" />
  <wsdl:message name="foObtenerTiposProductoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="pruebaPortType">
    <wsdl:operation name="foObtenerProductos">
      <wsdl:input message="tns:foObtenerProductosRequest" />
      <wsdl:output message="tns:foObtenerProductosResponse" />
    </wsdl:operation>
    <wsdl:operation name="foObtenerTiposProducto">
      <wsdl:input message="tns:foObtenerTiposProductoRequest" />
      <wsdl:output message="tns:foObtenerTiposProductoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pruebaBinding" type="tns:pruebaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="foObtenerProductos">
      <soap:operation soapAction="http://localhost/WS/pruebaWS.php/foObtenerProductos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pruebawsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pruebawsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="foObtenerTiposProducto">
      <soap:operation soapAction="http://localhost/WS/pruebaWS.php/foObtenerTiposProducto" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pruebawsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pruebawsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="prueba">
    <wsdl:port name="pruebaPort" binding="tns:pruebaBinding">
      <soap:address location="http://localhost:8082/WS/pruebaWS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>